@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1 {
font-size: 1.5rem;
line-height: 7rem;
margin-left: 1rem;
}


figure {
    margin: 0;
    padding: 0;
}

h2 {
    color:grey;
    font-size: 1.0rem;
    margin-left: 1rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

figcaption {
    position: absolute;
    bottom: 0;
    color: white;
    font-style: italic;
    font-family:Times;
    margin-left: 1rem;
}

figure {
    position: relative;
}

p {
margin-left: 1rem;